* {
    box-sizing: border-box;
}

.page-body {
    width: 100%;
    background-color: white;
    border: 1px solid black;
}

.master-header {
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid black;
    display: block;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.header-text {
    font-size: 60px;
}

.social-media-links-container {
    flex: 1;
    display: block;
}

.social-media-icons-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.social-media-icon {
    position: relative;
    margin-right: 1.5rem;
}

.page-content {
    border: 1px solid black;
}